.p2-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;

  > img {
    width: 100%;
  }

  @media screen and (min-width: 640px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
