@import 'global';
@import './p1_43.scss';
@import './p2_43.scss';
@import './p3_43.scss';

// nav bar
.nav {
  background: var(--white);
  box-shadow: var(--shadow-2);
  line-height: 1;

  &-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &-toggle {
    font-size: 1.5rem;
    color: var(--primary-500);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;

    &.active {
      transform: rotate(90deg);
    }
  }

  .logo {
    margin-bottom: 0;

    span {
      color: var(--primary-500);
    }
  }

  .social-icon {
    display: none;
  }

  &-links {
    margin: 0;

    a {
      color: var(--grey-700);
      font-size: 1rem;
      padding: .5rem 1rem;
      display: block;
      letter-spacing: var(--letterSpacing);
      transition: var(--transition);

      &:hover {
        background: var(--primary-300);
        color: var(--primary-500);
        padding-left: 1.5rem;
      }
    }

    li {
      height: 0;
      overflow: hidden;
      transition: var(--transition);
    }

    &.active {
      li {
        height: 32px;
      }
    }
  }
}


@media screen and (min-width: 800px) {
  .nav {
    &-toggle {
      display: none;
    }

    &-center {
      max-width: var(--max-width);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }

    &-links {
      display: flex;

      a {
        padding: 0;
        margin: 0 0.5rem;

        &:hover {
          padding: 0;
          background: transparent;
          padding-bottom: 3px;
          border-bottom: 2px solid purple;
        }
      }

      li {
        height: auto;
      }
    }

    .social-icon {
      display: flex;
      padding-right: 1rem;

      a {
        margin: 0 0.5rem;
        color: var(--primary-500);
        transition: var(--transition);

        &:hover {
          color: var(--primary-300);
        }
      }
    }
  }
}
